@import url("https://fonts.googleapis.com/css?family=Open+Sans");
/*fixed right overlap*/
.row {
  margin-right: 0;
}

/*jumbotron*/
.hero {
  background-image: url("../images/jumbotron.png");
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 50px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  color: #FFFFFF;
  font-family: 'Open Sans', sans-serif;
}

.hero .container {
  height: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  position: relative;
}

.hero .container img {
  height: 41px;
  width: 92px;
}

.hero .container div {
  margin-top: 25%;
  width: 500px;
}

.hero .container div h1 {
  font-size: 5rem;
  letter-spacing: 3px;
  font-weight: 100;
}

.hero .container .side-text {
  transform: rotate(-90deg);
  text-transform: uppercase;
  font-weight: 100;
  margin: 0;
  position: absolute;
  top: 50%;
  left: -30%;
  opacity: 0.7;
}

.hero .container .side-text span {
  margin-left: 5%;
  font-weight: bold;
}

/*start*/
.start {
  padding-top: 5%;
  font-family: 'Open Sans', sans-serif;
}

.start .row {
  color: #B3B3B3;
}

.start .row .left h3 {
  color: black;
  padding-bottom: 2%;
  letter-spacing: 2px;
}

.start .row .right {
  padding-top: 10%;
  position: relative;
}

.start .row .right img {
  position: absolute;
  top: -350%;
}

/*gallery*/
.slide-1 {
  background-color: #F5989D;
}

.slide-2 {
  background-color: #615F7D;
}

.slide-3 {
  background-image: url("../images/gallery1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.slide-4 {
  background-color: #BD8CBF;
}

.slide-5 {
  background-image: url("../images/gallery2.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.slide-6 {
  background-color: #82CA9C;
}

.slide-7 {
  background-image: url("../images/gallery3.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.gallery {
  padding: 2% 0;
  color: #FFFFFF;
  font-family: 'Open Sans', sans-serif;
}

.gallery .row {
  margin-left: 0;
}

.gallery .row [class*="col-"] {
  height: 250px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.gallery .row [class*="col-"] h2 {
  font-weight: 100;
  padding: 2% 0;
}

.gallery .row [class*="col-"] p {
  padding-bottom: 4%;
}

.gallery .row [class*="col-"] h6 {
  font-weight: 900;
}

.gallery .row [class*="col-"] h6 i {
  padding-left: 10px;
  font-weight: 100;
}

.gallery .row [class*="col-"] .hearth {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: end;
      justify-content: flex-end;
  padding-right: 2%;
  font-weight: 500;
}

/*details*/
.details {
  font-family: 'Open Sans', sans-serif;
  padding-bottom: 4%;
}

.details .container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  position: relative;
}

.details .container h2 {
  padding-bottom: 3%;
}

.details .container h5 {
  padding-bottom: 2%;
  font-weight: 600;
}

.details .container p {
  color: #B3B3B3;
}

.details .container .side-text {
  transform: rotate(-90deg);
  text-transform: uppercase;
  font-weight: 100;
  margin: 0;
  position: absolute;
  top: 50%;
  left: -30%;
  opacity: 0.7;
}

/*power*/
.power {
  font-family: 'Open Sans', sans-serif;
  color: #FFFFFF;
  background-image: url("../images/Full.png");
  height: 80vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.power .container {
  height: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: end;
      justify-content: flex-end;
  padding-bottom: 10%;
}

.power .container h1 {
  padding-bottom: 2%;
  font-size: 5rem;
}

.power .container p {
  max-width: 400px;
}

.power .container h6 i {
  padding-left: 2%;
}

/*reasons*/
.reasons {
  font-family: 'Open Sans', sans-serif;
  padding-bottom: 5%;
  background-color: #82CA9C;
  color: #FFFFFF;
  padding-top: 3%;
}

.reasons .container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  position: relative;
}

.reasons .container h2 {
  padding-bottom: 3%;
}

.reasons .container h5 {
  padding-bottom: 2%;
  font-weight: 600;
}

.reasons .container .side-text {
  transform: rotate(-90deg);
  text-transform: uppercase;
  font-weight: 100;
  margin: 0;
  position: absolute;
  top: 50%;
  left: -30%;
  opacity: 0.7;
}
/*# sourceMappingURL=style.prefixed.css.map */