@import url("https://fonts.googleapis.com/css?family=Open+Sans");
/*fixed right overlap*/
.row {
  margin-right: 0;
}

/*global*/
body {
  overflow-x: hidden;
}

.hideme {
  opacity: 0;
}

/*jumbotron*/
.hero {
  background-image: url("../images/jumbotron.jpg");
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 50px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  color: #FFFFFF;
  font-family: 'Open Sans', sans-serif;
  background-attachment: fixed;
}

.hero .container {
  height: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  position: relative;
}

.hero .container img {
  height: 41px;
  width: 92px;
}

.hero .container div {
  margin-top: 25%;
  width: 500px;
}

.hero .container div h1 {
  font-size: 5rem;
  letter-spacing: 3px;
  font-weight: 100;
}

.hero .container .side-text {
  transform: rotate(-90deg);
  text-transform: uppercase;
  font-weight: 100;
  position: absolute;
  top: 50%;
  left: -30%;
  opacity: 0.7;
}

.hero .container .side-text span {
  font-weight: bold;
}

/*start*/
.start {
  padding-top: 5%;
  font-family: 'Open Sans', sans-serif;
}

.start .row {
  color: #B3B3B3;
}

.start .row .left h3 {
  color: black;
  padding-bottom: 2%;
  letter-spacing: 2px;
}

.start .row .right {
  padding-top: 10%;
  position: relative;
}

.start .row .right img {
  position: absolute;
  top: -350%;
}

/*gallery*/
.slide-in {
  transition: all 4s;
  transform: translateX(40%);
}

.active {
  transform: translateX(0%);
}

.slide-1 {
  background-color: #F5989D;
}

.slide-2 {
  background-color: #615F7D;
}

.slide-3 {
  background-image: url("../images/gallery1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.slide-4 {
  background-color: #BD8CBF;
}

.slide-5 {
  background-image: url("../images/gallery2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.slide-6 {
  background-color: #82CA9C;
}

.slide-7 {
  background-image: url("../images/gallery3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.gallery {
  padding: 2% 0;
  color: #FFFFFF;
  font-family: 'Open Sans', sans-serif;
}

.gallery .row {
  margin-left: 0;
}

.gallery .row [class*="col-"] {
  height: 250px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.gallery .row [class*="col-"] h2 {
  font-weight: 100;
  padding: 2% 0;
}

.gallery .row [class*="col-"] p {
  padding-bottom: 4%;
}

.gallery .row [class*="col-"] h6 {
  font-weight: 900;
  max-width: 120px;
}

.gallery .row [class*="col-"] h6:hover {
  cursor: pointer;
}

.gallery .row [class*="col-"] h6:hover i {
  transform: translateX(10%) scale(1.5);
}

.gallery .row [class*="col-"] h6 i {
  padding-left: 10px;
  font-weight: 100;
}

.gallery .row [class*="col-"] .hearth {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: end;
      justify-content: flex-end;
  padding-right: 2%;
  font-weight: 500;
}

/*details*/
.details {
  font-family: 'Open Sans', sans-serif;
  padding-bottom: 4%;
}

.details .container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  position: relative;
}

.details .container h2 {
  padding-bottom: 3%;
}

.details .container h5 {
  padding-bottom: 2%;
  font-weight: 600;
}

.details .container p {
  color: #B3B3B3;
}

.details .container .side-text {
  transform: rotate(-90deg);
  text-transform: uppercase;
  font-weight: 100;
  position: absolute;
  top: 30%;
  left: -30%;
  opacity: 0.7;
}

/*power*/
.power {
  font-family: 'Open Sans', sans-serif;
  color: #FFFFFF;
  background-image: url("../images/Full.jpg");
  height: 80vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.power .container {
  height: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: end;
      justify-content: flex-end;
  padding-bottom: 10%;
}

.power .container h1 {
  padding-bottom: 2%;
  font-size: 5rem;
}

.power .container p {
  max-width: 400px;
}

.power .container h6 {
  max-width: 150px;
}

.power .container h6:hover {
  cursor: pointer;
}

.power .container h6:hover i {
  transform: translateX(10%) scale(1.5);
}

.power .container h6 i {
  padding-left: 10%;
}

/*reasons*/
.reasons {
  font-family: 'Open Sans', sans-serif;
  padding-bottom: 5%;
  background-color: #82CA9C;
  color: #FFFFFF;
  padding-top: 3%;
}

.reasons .container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  position: relative;
}

.reasons .container h2 {
  padding-bottom: 3%;
}

.reasons .container h5 {
  padding-bottom: 2%;
  font-weight: 600;
}

.reasons .container .side-text {
  transform: rotate(-90deg);
  text-transform: uppercase;
  font-weight: 100;
  position: absolute;
  top: 30%;
  left: -30%;
  opacity: 0.7;
}

/*solo*/
.solo {
  font-family: 'Open Sans', sans-serif;
  padding-bottom: 5%;
  padding-top: 5%;
  background-color: #F6F7FA;
}

.solo .container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  position: relative;
}

.solo .container .col-md-6 {
  padding: 3%;
}

.solo .container .col-md-6:hover {
  background-color: #FFFFFF;
}

.solo .container .col-md-6:hover .btn-1 {
  background-color: #BD8CBF;
}

.solo .container .col-md-6 .btn-1 {
  background-color: #B3B3B3;
  border-radius: 5px;
  width: 20%;
  text-align: center;
  color: #FFFFFF;
}

.solo .container .col-md-6 p {
  padding: 2% 0;
  color: #B3B3B3;
}

.solo .container .col-md-6 .btn-2 {
  background-color: #82CA9C;
  color: #FFFFFF;
  height: 40px;
  width: 150px;
  text-transform: uppercase;
  border-style: none;
  border-radius: 5px;
  transition: 0.5s;
}

.solo .container .col-md-6 .btn-2:hover {
  background-color: #61a379;
}

.solo .container .col-md-6 .fa {
  color: #B3B3B3;
  font-size: 2rem;
  padding: 2% 1% 2% 0;
  cursor: pointer;
}

.solo .container .side-text {
  transform: rotate(-90deg);
  text-transform: uppercase;
  font-weight: 100;
  position: absolute;
  top: 30%;
  left: -30%;
  opacity: 0.7;
  color: #B3B3B3;
}

/*footer*/
.footer {
  background-color: #192431;
  color: #FFFFFF;
  font-family: 'Open Sans', sans-serif;
  padding: 5% 0;
}

.footer h5 {
  font-weight: 600;
  padding-bottom: 3%;
}

.footer .right {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  padding-left: 10%;
}

.footer .right form {
  display: -ms-flexbox;
  display: flex;
}

.footer .right form input {
  width: 400px;
  height: 50px;
  border-radius: 5px 0 0 5px;
  border-width: 0px;
  color: #192431;
  padding-left: 5%;
}

.footer .right form input::-webkit-input-placeholder {
  padding-left: 5%;
}

.footer .right form input:-ms-input-placeholder {
  padding-left: 5%;
}

.footer .right form input::placeholder {
  padding-left: 5%;
}

.footer .right form button {
  background-color: #82CA9C;
  border-width: 0px;
  height: 50px;
  width: 70px;
  border-radius: 0 5px 5px 0;
  transition: 0.5s;
}

.footer .right form button:hover {
  background-color: #61a379;
}

.footer .right form button i {
  transition: 0.5s;
}

.footer .right form button:hover i {
  transform: scale(1.5);
}

.footer .right p {
  color: #57697F;
  width: 350px;
  padding-top: 2%;
}

.footer .col-md-2 ul {
  list-style-type: none;
  padding: 0;
}

.footer .col-md-2 ul li {
  padding-top: 2%;
}

.footer .col-md-2 ul li:hover {
  text-decoration: underline;
  cursor: pointer;
}
/*# sourceMappingURL=style.prefixed.css.map */